@model IEnumerable<LMS_Learning_Management_System.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>المحتويات</h1>

<p>
    <a asp-action="Create" class="btn btn-success">اضافة جديدة</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Abbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">عرض التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
