@model IEnumerable<LMS_Learning_Management_System.Models.ActiveSession>

@{
    ViewData["Title"] = "عرض الجلسات";
}

<h1>المحتويات</h1>

<p>
    <a asp-action="Create" class="btn btn-success">اضافة جديدة</a>
</p>
<style>
    table.dataTable {
        clear: both;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
        max-width: none !important;
        border-collapse: separate !important;
        width: 1322px !important;
    }
</style>
<table id="classes" class="table table-striped table-bordered table-inverse table-responsive " style="width: 1322px!important ">
    <thead>
        <tr>

           
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th></th>
        </tr>

    </thead>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#classes").DataTable({
                "ajax": {
                    "url": "@Url.Action("GetData", "ActiveSessions")",
                    "type": "POST",
                    "data": "{}",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "userName" },
                    { "data": "phoneNumber" },
                    { "data": "loginDate" },
                    { "data": "deviceType" },
                    { "data": "macAddress" },
                    { "data": "computerName" },
                    {
                        "data": "id", "render": function (data) {
                            return "<a asp-action='Details' onclick=PopupFormCource('@Url.Action("Details", "ActiveSessions")/" + data + "') class='btn btn-info'>عرض التفاصيل</a> |<a asp-action='Delete' onclick=DeleteCource(" + data +") class='btn btn-danger'>حذف</a> ";
                        },
                        "orderable": true,
                        "searchable": true,
                        "width": "auto"
                    }
                ],
                "language": {
                    "emptyTable": "لا يوجد بيانات يرجى الضغط على زر اضافة جديدة"
                }



            });




        });



        function PopupFormCource(url) {
            var formDiv = $('<div/>');
                $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'المستويات',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });

                });
        }



        function DeleteCource(id) {
            if (confirm('هل أنت متأكد أنك تريد حذف السجل؟'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "ActiveSessions")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    }

                });
            }
        }
    </script>
}


