@model LMS_Learning_Management_System.Models.VEnrollmentStdDetail

@{
    ViewData["Title"] = "عرض المواد المسجلة";
}
<style>
    body section {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

        body section .row {
            align-items: center;
            height: 100vh;
        }

    .card {
        position: relative;
        height: 260px;
        width: 100%;
        margin: 10px 0;
        transition: ease all 2.3s;
        perspective: 1200px;
    }

        .card:hover .cover {
            transform: rotateX(0deg) rotateY(-180deg);
        }

            .card:hover .cover:before {
                transform: translateZ(30px);
            }

            .card:hover .cover:after {
                background-color: black;
            }

            .card:hover .cover h1 {
                transform: translateZ(100px);
            }

            .card:hover .cover .price {
                transform: translateZ(60px);
            }

            .card:hover .cover a {
                transform: translateZ(-60px) rotatey(-180deg);
            }

        .card .cover {
            position: absolute;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            transition: ease all 2.3s;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

            .card .cover:before {
                content: "";
                position: absolute;
                border: 5px solid rgba(255, 255, 255, 0.5);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 20px;
                z-index: 2;
                transition: ease all 2.3s;
                transform-style: preserve-3d;
                transform: translateZ(0px);
            }

            .card .cover:after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 2;
                transition: ease all 1.3s;
                background: rgba(0, 0, 0, 0.4);
            }

            .card .cover.item-a {
                background-image: url("../../Images/أسماء-جميع-المواد-الدراسية-بالانجليزية-School-Subjects-القاموس-الناطق-المصور.jpg");
                background-size: 100% 100%;
                /*background-image: url("https://images.unsplash.com/photo-1520412099551-62b6bafeb5bb?auto=format&fit=crop&w=600&q=80");*/
            }

            .card .cover.item-b {
                background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?auto=format&fit=crop&w=600&q=80");
            }

            .card .cover.item-c {
                background-image: url("https://images.unsplash.com/photo-1525945518069-b924046d1385?auto=format&fit=crop&w=600&q=80");
            }

            .card .cover h1 {
                font-weight: 600;
                position: absolute;
                bottom: 55px;
                left: 50px;
                color: white !important;
                transform-style: preserve-3d;
                transition: ease all 2.3s;
                z-index: 3;
                font-size: 2em;
                transform: translateZ(0px);
            }

            .card .cover .price {
                font-weight: 200;
                position: absolute;
                top: 55px;
                right: 50px;
                color: white !important;
                transform-style: preserve-3d;
                transition: ease all 2.3s;
                z-index: 4;
                font-size: 2em;
                transform: translateZ(0px);
            }

        .card .card-back {
            position: absolute;
            height: 100%;
            width: 100%;
            background: #0b0f08;
            transform-style: preserve-3d;
            transition: ease all 2.3s;
            transform: translateZ(-1px);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

            .card .card-back a {
                transform-style: preserve-3d;
                transition: ease transform 2.3s, ease background 0.5s;
                transform: translateZ(-1px) rotatey(-180deg);
                background: transparent;
                border: 1px solid white;
                font-weight: 200;
                font-size: 1.3em;
                color: white !important;
                padding: 14px 32px;
                outline: none;
                text-decoration: none;
            }

                .card .card-back a:hover {
                    background-color: white;
                    color: #0b0f08 !important;
                }
</style>
<section>
    <div class="row">
        
            @if (Model.VEnrollmentStdDetailt_Collection.Count() > 0)
            {
                @foreach (var item in Model.VEnrollmentStdDetailt_Collection)
                {

                    if (item.TeacherId != null)
                    {

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="card">
                                <div class="cover item-a">
                                    <h1>@item.Name</h1>
                                    <span class="price"></span>
                                    @*<div class="card-back">
                                            <a href="#" class="load-lessons" data-classid="@item.ClassId" data-subjectid="@item.SubjectId" data-teacherid="@item.TeacherId">عرض الدروس</a>
                                        </div>*@

                                    <div class="card-back">
                                        <form id="@item.TeacherId" action="/Lessons/_PartialShowLessons" method="post">
                                            <input type="hidden" id="ClassId" name="ClassId" value="@item.ClassId" />
                                            <input type="hidden" id="SubjectId" name="SubjectId" value="@item.SubjectId" />
                                            <input type="hidden" id="TeacherId" name="TeacherId" value="@item.TeacherId" />
                                        </form>
                                        <a href="#" onclick="openLessonsForm('@item.TeacherId')">عرض الدروس</a>

                                        @*<a href="_PartialShowLessons/@item.ClassId/@item.SubjectId/@item.TeacherId">عرض الدروس</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="card">
                                <div class="cover item-b">
                                    <h1>@item.Name</h1>
                                    <span class="price">**</span>
                                    <div class="card-back">

                                        <a class="text-dark" href="#" onclick="openTeacherModal('teacherModal',@item.SubjectId,@item.ClassId,@item.CardNo)">
                                            اختر المعلم
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Modal -->
                        <div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="teacherModalLabel">اختيار المعلم</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style=" background: transparent; color: white; border: transparent; font-size: 27px; }">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- DropDownList -->
                                        <label for="selectedItem">اختر المعلم:</label>
                                        <select id="TeacherID" class="form-control"></select>

                                        @*@Html.DropDownList("selectedItem", new SelectList(Model.TeacherInfo_Collection.Where(r => r.ClassId == item.ClassId && r.SubjectId == item.SubjectId), "Id", "FullName"), "-- اختر --", new { @class = "form-control" })*@

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                                        <button type="button" class="btn btn-primary" id="saveTeacherSelection">حفظ</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            }
            else
            {
                <h2>لا يوجد دروس مسجلة</h2>
                
            }

    
  
    </div>
</section>






<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    function openLessonsForm(TeacherId) {
        document.getElementById(TeacherId).submit();
    }

    var Subject_id;
    var Class_id;
    var Card_No;
    function openTeacherModal(modalId, SubjectId, ClassId, CardNo) {
        Subject_id = "";
        Class_id = "";
        Card_No = "";
        // يمكنك قم بتنفيذ أي كود إضافي هنا قبل فتح النموذج إذا لزم الأمر
        $("#" + modalId).modal("show");
        Subject_id = SubjectId;
        Class_id = ClassId;
        Card_No = CardNo;
        // جلب القيمة المحددة في dropdown1 (المواد)
        var selectedSubjectId = SubjectId;
        var selectedClassId = ClassId;
        $.ajax({
            url: "/Lessons/GetTeachersBySubject",
            type: "POST",
            data: { "subjectId": selectedSubjectId, "classId": selectedClassId },
            success: function (response) {
                // قم بحذف الخيارات الحالية في الـ DropDownList
                $('#TeacherID').empty();

                // إضافة الخيار "-- اختر --" أو أي قيمة أخرى تناسب احتياجاتك
                $('#TeacherID').append('<option value="">-- اختر --</option>');

                // إضافة الخيارات الجديدة بناءً على البيانات التي تم جلبها من الخادم
                $.each(response, function (index, teacher) {
                    $('#TeacherID').append('<option value="' + teacher.id + '">' + teacher.fullName + '</option>');
                });
            },
            error: function (request, status, error) {
                alert("لا يوجد معلمين للمادة والمستوى المطلوبين");
            }
        });




    }
    $(document).ready(function () {

        // كود jQuery للقيام بشيء ما عندما يتم اختيار المعلم
        // يمكنك استخدام AJAX لإرسال القيمة إلى الخادم هنا

        // على سبيل المثال:
        $("#saveTeacherSelection").on("click", function () {

            var selectedTeacher = $("#TeacherID").val(); // افتراضياً، قم بتغيير "teacherDropdown" بالعنصر الذي تستخدمه لاختيار المعلم
            if (selectedTeacher == "") {
                alert("يرجى اختيار معلم.");
                return;
            }
            // إذا كنت تستخدم ASP.NET Core، يمكنك إرسال القيمة باستخدام $.post
            $.post("/Lessons/AssignTeacher", { teacherId: selectedTeacher, Card_No: Card_No, Subject_id: Subject_id, Class_id: Class_id },
                function (data) {
                    // قم بمعالجة الاستجابة من الخادم إذا لزم الأمر
                    alert(data.message);
                    // قد تكون رسالة نجاح أو أي نوع آخر من الرسائل
                    window.location.reload();
                });

            // يمكنك استخدام $.ajax أو أي طريقة أخرى حسب احتياجاتك
        });





        //$('.load-lessons').on('click', function (e) {
        //    e.preventDefault();
        //    var classId = $(this).data('classid');
        //    var subjectId = $(this).data('subjectid');
        //    var teacherId = $(this).data('teacherid');
        //    // إجراء طلب AJAX لتحميل الصفحة الأخرى
        //    $.ajax({
        //        url: '/Lessons/_PartialShowLessons/',
        //        method: 'GET',
        //        data: { "ClassId": classId, "SubjectId": subjectId, "TeacherId": teacherId },
        //        success: function (result) {

        //                var urlWithParams = '/Lessons/_PartialShowLessons';
        //                //alert(urlWithParams)
        //                window.location = window.location.protocol + urlWithParams;

        //        },
        //        error: function (xhr, status, error) {
        //            var errorMessage = "حدث خطأ أثناء تحميل الصفحة.\n";
        //            errorMessage += "الحالة: " + status + "\n";
        //            errorMessage += "خطأ: " + error + "\n";
        //            if (xhr.responseJSON && xhr.responseJSON.error) {
        //                alert(xhr.responseJSON.error);
        //            } else {
        //                alert("حدث خطأ غير متوقع أثناء تحميل الصفحة.");
        //            }
        //            alert(errorMessage);
        //        }

        //    });
        //});

    });

</script>
