@model IEnumerable<LMS_Learning_Management_System.Models.VLessonsDesc>

@{
    ViewData["Title"] = "عرض الدروس";
}

<h1>المحتويات</h1>
@{
    string role = "";
    if (User.IsInRole("admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-success">اضافة جديدة</a>
        </p>
        role = "admin";
    }
    if (User.IsInRole("teacher"))
    {
        role = "teacher";

    }

    <input type="hidden" id="role_hidden" value="@role" />
}
<table id="Lessons" class="table table-striped table-bordered table-inverse table-responsive " style=" width: 1375px; margin: 0 -3% 0 0;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>

    </thead>
</table>
@{
    var Role = "";
    if (User.IsInRole("techer"))
    {
        Role = "teacher";
        <input type="hidden" id="Role_H" value="@Role" />
    }
    else if (User.IsInRole("admin"))
    {
        Role = "admin";
        <input type="hidden" id="Role_H" value="@Role" />
    }
    else
    {
        Role = "other";
        <input type="hidden" id="Role_H" value="@Role" />
    }

}
@section scripts {
    <script>
        $(document).ready(function () {
            var role = $('#role_hidden').val();
            var commonDataTableOptions = {
                "ajax": {
                    "url": "@Url.Action("GetData", "Lessons")",
                    "type": "POST",
                    "data": "{}",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" },
                    { "data": "statusDesc" },
                    { "data": "classDesc" },
                    { "data": "subjectDesc" },
                    { "data": "semesterDesc" },
                    { "data": "createdUser" },
                    { "data": "createdDate" },
                    {
                        "data": "id",
                        "render": function (data) {
                            if (role == "admin") {
                                return "<a asp-action='Edit' class='btn btn-warning' href='@Url.Action("Edit", "Lessons")/" + data + "'>تعديل</a> | </div><a asp-action='Details' onclick=PopupFormCource('@Url.Action("Details", "Lessons")/" + data + "') class='btn btn-info'>عرض التفاصيل</a> | <a asp-action='Delete' onclick=DeleteCource(" + data + ") class='btn btn-danger'>حذف</a> ";
                            } else {
                                return "<a asp-action='Details' onclick=PopupFormCource('@Url.Action("Details", "Lessons")/" + data + "') class='btn btn-info'>عرض التفاصيل</a> ";
                            }
                        },
                        "orderable": true,
                        "searchable": true,
                        "width": "auto"
                    }
                ],
                "language": {
                    "emptyTable": "لا يوجد بيانات يرجى الضغط على زر اضافة جديدة"
                },
                "order": [[6, 'desc']] // Ordering by the createdDate column in descending order
            };

            if (role == "admin") {
                $("#Lessons").DataTable(commonDataTableOptions);
            } else if (role == "teacher") {
                $("#Lessons").DataTable(commonDataTableOptions);
            }
        });




        function PopupFormCource(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'الدروس',
                        height: 700,
                        width: 1100,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });

                });
        }


        function DeleteCource(id) {
            if (confirm('هل أنت متأكد أنك تريد حذف السجل؟')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Lessons")/' + id,
                    success: function (data) {
                        if (data.success) {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    }

                });
            }
        }
    </script>
}